@keyframes fill-loading {
  0%   {background-color:rgba(0, 0, 0, .3)}
  25%  {background-color:#049FD9;}
  50%  {background-color:#049FD9;}
  75%  {background-color:#049FD9;}
  100% {background-color:#049FD9;}
}

@mixin bars-fill {
  display: inline-block;
  width: 8px;
  border-radius: 8px;
  animation: fill-loading 1s linear infinite;
  background-color: rgba(0, 0, 0, .3);
  margin-right: 16px;
}

.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.loading-bar-sm {
  @include bars-fill;
  height: 18px;
}
  
.loading-bar-md {
  @include bars-fill;
  height: 36px;
}
  
.loading-bar-lg {
  @include bars-fill;
  height: 64px;
  margin-bottom: -5px;
}

.loader {
  &:nth-child(1) {
    animation-delay: 0s;
  }

  &:nth-child(2) {
    animation-delay: 1s;
  }

  &:nth-child(3) {
    animation-delay: 2s;
  }

  &:nth-child(4) {
    animation-delay: 3s;
  }

  &:nth-child(5) {
    animation-delay: 4s;
  }

  &:nth-child(6) {
    animation-delay: 5s;
  }

  &:nth-child(7) {
    animation-delay: 6s;
  }

  &:nth-child(8) {
    animation-delay: 7s;
  }

  &:nth-child(9) {
    animation-delay: 8s;
  }
}